html, body {
    margin: 0px;
    background-color: #2F4F30;
    color: aliceblue;
}


.titulo {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 20px;
    font-size: 35px;
}

.carta {
    position: relative;
    left: 100px;
    width: 150px;
    margin-left: -75px;

}

.footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    font: size 25px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}